<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>400: Плохой запрос | DicQuo</title>
  <style>
    body { margin: 0; min-height: 100vh; background-color: #211; color: silver; font-family: serif; opacity: 1; transition: opacity 0.9s ease-in-out; }
    header { display: flex; justify-content: space-between; align-items: center; padding: 1vh 4vw; }
    header > #logo { margin-top: 1vh; float: left; }
    header > #logo a { border: none; text-decoration: none; color: silver;}
    main { padding: 1vh 8vw; display: flex; flex-direction: column; justify-content: center; min-height: 60vh; }
    main > article { display: flex; align-items: center; justify-content: center; gap: 2vw; }
    main > article > figure > p { color: silver; font-size: 3vmin; line-height: 3.5vmin; padding-bottom: 2vmin;   font-style: italic; }
    main > article > figure > blockquote { color: whitesmoke; font-size: 4.5vmin; line-height: 5vmin; border:none; margin:0; padding:0; }
    main > article > figure > cite { color: silver; font-size: 3.5vmin; line-height: 4vmin; text-align: right; padding-top: 8vmin; font-style: italic; display: block; }
    .tags { text-align: center; color: silver; font-size: 1.5vmin; line-height: 1.9vmin; padding: 1vh 8vw; float: left;}
    .tags a { text-decoration: none; position: relative; padding: 0 0.5ex; display: inline-block; color: white; border-bottom: dotted 1px silver; background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 40%, slategray, silver, lightyellow 50%, rgba(255, 255, 255, 0.4)); background-clip: initial; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-size: 250% 100%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; background-position: 100%; transition: background-position 0.65s ease; margin-right: 2vmin; }
    .tags a:hover { color: white; background-position: 0 100%; border-bottom: solid 1px white; }
  </style>
</head>
<body>
<header>
  <div id="logo">
    <a href="/" style="font-size: 3em; font-weight: bold; color: orange; font-style: italic">DQ</a>
  </div>
</header>
<main>
  <article>
    <figure>
      <p>Загадочно:</p>
      <blockquote id="bb">
        <span style="margin-left:-0.44em;">&laquo;</span>Вы спрашиваете меня о&nbsp;чем-то странном. Я&nbsp;не&nbsp;понимаю
        ваш запрос.»
      </blockquote>
      <cite>Озадаченный Сервер (400)</cite>
    </figure>
  </article>
</main>
<div class="tags">
  <a href="/">Сформулировать иначе (на главную)</a>
</div>
</body>
</html>
