# Это пример файла окружения `.env` для настройки проекта Django. Скопируйте его в `.env` и измените значения на свои.

# Режим отладки. В ПРОДАКШЕНЕ: Установите DEBUG=False
DEBUG=True

# Секретный ключ Django. В ПРОДАКШЕНЕ: Установите уникальный и сложный ключ, чтобы обеспечить безопасность вашего приложения.
SECRET_KEY='change_me_in_production'

# Разрешённые хосты. В ПРОДАКШЕНЕ: Установите реальные домены, с которых будет доступно ваше приложение.
ALLOWED_HOSTS=127.0.0.1,localhost

# CSRF Trusted Origins (ВАЖНО для Docker/Nginx/SSL).
# Перечислите здесь URL, по которым вы заходите на сайт, включая схему (http/https).
# Если этого не сделать, при попытке залогиниться в админку вы получите ошибку CSRF.
CSRF_TRUSTED_ORIGINS=https://dq.cube2.ru,http://127.0.0.1:8010,http://localhost:8010

# Email администратора (для получения уведомлений о критических ошибках и других важных сообщений от Django).
ADMIN_EMAIL=admin@example.com

# Email
# Format: smtp://user:password@host:port
# EMAIL_URL=smtp://user:password@smtp.example.com:25

# Системные пути на хосте (ТОЛЬКО ДЛЯ ПРОДАКШЕНА)
# Используется скриптом для генерации корректного Nginx конфига (alias к медиа-файлам).
# На локальной машине разработчика (Dev) эта переменная игнорируется.
# В ПРОДАКШЕНЕ: Укажите полный путь к папке проекта на сервере
HOST_PROJECT_PATH=/home/username/projects

# URL для доступа к админке Django. В ПРОДАКШЕНЕ: можно сменить для безопасности, чтобы  боты не могли её найти
ADMIN_URL=admin/

# Настройки доступа к пакетам в репозитории, чтобы wathtower мог проверять их свежесть и скачивать для обновления.
# Получить эти данные можно в настройках вашего репозитория, например:
#    для GitHub: в разделе "Developer settings" -> "Personal access tokens";
#    для Gitea:  в разделе "Settings / Настройки" -> "Actions / Действия" -> "Secrets / Секреты".
REPO_USER=[login]
REPO_PASS=[token]
