<!-- ПОДВАЛ: НАЧАЛО -- соглашение о сборе технической информации -->
  <div name="cookies_accept">
    <small>Тут используют cookie и&nbsp;ведут сбор технических данных о&nbsp;посещениях, потому как без этого <nobr>интернет-сайты</nobr> вообще почти <nobr>не&nbsp;работают&hellip;</small>
    <button onclick="CookieAcceptDate = new Date();
                     CookieAcceptDate.setTime(CookieAcceptDate.getTime() + 7948800000);
                     document.cookie = 'cookie_accept=yes;expires=' + CookieAcceptDate;
                     document.getElementsByName('cookies_accept')[0].remove();">
      Я согласен!
    </button></nobr>
  </div>
<!-- ПОДВАЛ: КОНЕЦ -->