{% load static %}<!-- ШАПКА: НАЧАЛО -->
  <center><table>
    <tr>
      <td align="left">
        <a href="\" id="logo">
          <img src='{% static "svgs/dq-logo.svg" %}' alt="Dictum & Quotes" title="Dictum & Quotes"
               width="50" height="46"/></a>
      </td>
      <td align="right">
        <span id="menu">
          <a href="#">Блог</a> | <a href="#">Добавить высказывание</a> |
        </span>
        <a href="#" id="mm" onclick="document.getElementById('menu').style.display='inline';">≡</a></td>
    </tr>
  </table></center>
  <!-- ШАПКА: КОНЕЦ -->